{% for video in product.metafields.standard.featured_video.value.sources %}
    {% assign video_url = video.url %}
{% endfor %}

<ed-video-thumbnail class="ed-video-thumbnail"
                    video-src="{{ video_url }}"
                    autoplay="true"
                    controls="true">
    <div class="thumbnail-container btn-open">
        {% if product.metafields.standard.featured_video_thumbnail != blank %}
            <img src="{{ product.metafields.standard.featured_video_thumbnail.value | img_url: '100x' }}" alt=""/>
            <div class="overlay"></div>
            <div class="play-btn">
                <span class="arrow-right"></span>
            </div>
        {% else %}
            <img src="{{ product.metafields.standard.featured_video.value.preview_image | img_url }}" alt=""/>
            <div class="play-btn">
                <span class="arrow-right"></span>
            </div>
        {% endif %}
    </div>
</ed-video-thumbnail>

