<ed-video-popup>
    <div class="video-popup-container">
        <div class="video-container">
            {% comment %}<iframe allowfullscreen allow="autoplay;"></iframe> {% endcomment %}
        </div>
        <span class="btn-close">&#10005;</span>
    </div>
</ed-video-popup>