
<div class="lb-pdp-description-confrontation">
    <h3>Spare bis zu 150{% if localization.country.iso_code == 'CH' %}CHF{% else %}€{% endif %} pro Jahr</h3>
    <p class="lb-pdp-description-confrontation-item-p">Im Vergleich zu Wechselkopf-Rasierklingen</p>
    <div class="lb-pdp-description-confrontation-item">
        <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/artboard-copy-192-1678201469027.png?v=1678201471">
        <p class="lb-pdp-description-confrontation-item-p-1 lb-pdp-description-confrontation-item-p-1-1">Wechselkopf-Rasierklingen</p>
        <p class="lb-pdp-description-confrontation-item-p-2">160{% if localization.country.iso_code == 'CH' %}CHF{% else %}€{% endif %}</p>
    </div>
    <div class="lb-pdp-description-confrontation-item">
        <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/artboard-copy-193-1678201469038.png?v=1678201475">
        <p class="lb-pdp-description-confrontation-item-p-1">Rasierklingen</p>
        <p class="lb-pdp-description-confrontation-item-p-2">10{% if localization.country.iso_code == 'CH' %}CHF{% else %}€{% endif %}</p>
    </div>
</div>


<style>

.lb-pdp-description-confrontation {
border-radius: 9px;
    background-color: #efece0;
    padding: 18px;
    margin-bottom: 18px;
  margin-top: 18px;
    }


.lb-pdp-description-confrontation h3 {
  font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Bebas Neue";
    color: #232323;
    text-transform: uppercase;
    font-weight: 400;
}

.lb-pdp-description-confrontation-p {   
  line-height: inherit;
    display: block;
    margin-right: 0!important;
}

  .lb-pdp-description-confrontation-item {
    display: flex;
    align-items: center;
  }

  .lb-pdp-description-confrontation-item img {
      width: 100%;
    max-width: 62px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    margin-right: 9px;
  }

    .lb-pdp-description-confrontation-item-p-1 {
      background-color: #232323;
      color: #efece0;
    margin-bottom: 0;
      padding: 6px!important;
    margin-top: 0;
    font-family: var(--pf-secondary-font);
    font-size: 14px;
      margin-right: 9px;
    }

    .lb-pdp-description-confrontation-item-p-1-1 {
            width: 70%;
    }


    .lb-pdp-description-confrontation-item-p-2  {
  float: right;
    font-size: 16px;
    }

  </style>
