<!--
<?xml version="1.0" encoding="UTF-8"?>
<svg width="400px" height="400px" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>cart-icon</title>
    <g id="cart-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(7.000000, 10.000000)" stroke="#000000" stroke-width="11">
            <path d="M116,144 L116,42.750264 C122.391417,14.250088 138.801899,0 165.231446,0 C191.660993,0 208.917177,11.9517254 217,35.8551761 L217,144" id="Path-8" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M170,118 L170,42.1680575 C176.391417,14.0560192 192.801899,0 219.231446,0 C245.660993,0 262.917177,11.7889574 271,35.3668723 L271,118" id="Path-8-Copy" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M309.272014,118.5 L256.113598,380.5 L35.85075,380.5 C27.1522652,380.5 19.2772652,376.974242 13.5768864,371.273864 C7.87650757,365.573485 4.35074998,357.698485 4.35074998,349 C4.35074998,346.096816 4.75209703,343.207568 5.5433941,340.414304 L5.5433941,340.414304 L61.917614,141.414304 C63.8378598,134.63587 67.8921107,128.907294 73.2275942,124.873327 C78.5630776,120.839359 85.1797937,118.5 92.2249699,118.5 L92.2249699,118.5 L309.272014,118.5 Z" id="Rectangle-4"></path>
            <path d="M313.262786,118.5 C318.813327,118.5 323.985328,120.442042 328.057373,123.741572 C332.129418,127.041101 335.101507,131.698118 336.252225,137.128067 L336.252225,137.128067 L381.815126,352.128067 C383.160473,358.476426 381.805275,364.769095 378.526651,369.811011 C375.248028,374.852928 370.045978,378.644091 363.69762,379.989438 C362.095863,380.328883 360.463017,380.5 358.825687,380.5 L358.825687,380.5 L255.729324,380.5 L308.940898,118.5 Z" id="Rectangle-4-Copy"></path>
        </g>
    </g>
</svg>-->


<?xml version="1.0" encoding="UTF-8"?>
<svg width="400px" height="400px" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>cart-icon copy 2</title>
    <g id="cart-icon-copy-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(23, 26)" stroke="#000000" stroke-width="30">
            <path d="M116,132 L116,39.187742 C121.885166,13.0625807 136.995808,0 161.331925,0 C185.668043,0 201.557401,10.9557483 209,32.8672448 L209,132" id="Path-8"></path>
            <path d="M166,108 L166,38.5944933 C171.885166,12.8648311 186.995808,0 211.331925,0 C235.668043,0 251.557401,10.7898933 259,32.3696798 L259,108" id="Path-8-Copy"></path>
            <path d="M271.643093,119 L226.910202,339 L36.9562295,339 C30.8810972,339 25.3810972,336.537566 21.3998803,332.556349 C17.4186634,328.575132 14.9562295,323.075132 14.9562295,317 C14.9562295,314.968222 15.237686,312.946237 15.792574,310.991699 L65.7584712,134.991699 C67.1016376,130.260526 69.933482,126.262601 73.6590696,123.44747 C77.3846571,120.632338 82.0039878,119 86.9221267,119 L271.643093,119 Z" id="Rectangle-4"></path>
            <path d="M288.371181,119 C291.729473,119 294.851163,120.192493 297.291198,122.209574 C299.731234,124.226655 301.489616,127.068323 302.121293,130.366672 L338.891824,322.366672 C339.618997,326.163661 338.738296,329.895934 336.726553,332.860754 C334.714811,335.825573 331.572028,338.022939 327.77504,338.750112 C326.907117,338.916331 326.025407,339 325.141712,339 L231.349283,339 L275.988928,119 Z" id="Rectangle-4-Copy"></path>
        </g>
    </g>
</svg>