<!--
<?xml version="1.0" encoding="UTF-8"?>
<svg width="400px" height="400px" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>close</title>
    <g id="close" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <line x1="20" y1="20" x2="379.135011" y2="379.135011" id="Path-106" stroke="#000000" stroke-width="11"></line>
        <line x1="379.135011" y1="20" x2="20" y2="379.135011" id="Path-106" stroke="#000000" stroke-width="11"></line>
    </g>
</svg>
-->

<?xml version="1.0" encoding="UTF-8"?>
<svg width="323px" height="323px" viewBox="0 0 323 323" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="arrow-down-copy-6" transform="translate(-39, -39)" stroke="#000000" stroke-width="30">
            <g id="Group" transform="translate(50, 50)">
                <line x1="1" y1="-4.63670768e-13" x2="300.509804" y2="300.509772" id="Path-104"></line>
                <line x1="301" y1="0" x2="0" y2="300" id="Path-104"></line>
            </g>
        </g>
    </g>
</svg>