<?xml version="1.0" encoding="UTF-8"?>
<svg width="400px" height="400px" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>bin-icon</title>
    <g id="bin-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(43.000000, 4.000000)" fill-rule="nonzero" stroke="#000000" stroke-width="11">
            <path d="M283.08864,79.5 L263.706397,347.988122 C262.922991,358.840081 258.015019,368.468051 250.58285,375.38303 C243.150681,382.29801 233.194313,386.5 222.314114,386.5 L222.314114,386.5 L91.6858865,386.5 C80.805687,386.5 70.8493193,382.29801 63.4171499,375.38303 C55.9849805,368.468051 51.0770094,358.840081 50.293603,347.988122 L50.293603,347.988122 L30.9113596,79.5 L283.08864,79.5 Z" id="Rectangle"></path>
            <path d="M221.5,5.5 L221.5,43 C221.5,53.0791967 217.414598,62.2041967 210.809398,68.8093975 C204.204197,75.4145983 195.079197,79.5 185,79.5 L185,79.5 L130,79.5 C119.920803,79.5 110.795803,75.4145983 104.190602,68.8093975 C97.5854017,62.2041967 93.5,53.0791967 93.5,43 L93.5,43 L93.5,5.5 L221.5,5.5 Z" id="Rectangle" transform="translate(157.500000, 42.500000) scale(1, -1) translate(-157.500000, -42.500000) "></path>
            <line x1="0" y1="79.5" x2="312.585586" y2="79.5" id="Line" stroke-linecap="round" stroke-linejoin="round"></line>
        </g>
    </g>
</svg>