<!--<?xml version="1.0" encoding="UTF-8"?>
<svg width="400px" height="400px" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>search</title>
    <g id="search" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(-47.984897, -48.395323)" fill-rule="nonzero">
            <circle id="Oval" fill="#000000" cx="329.484897" cy="298.895323" r="8.5"></circle>
            <path d="M207.859638,345.73658 C239.539341,397.305222 282.912122,423.089543 337.97798,423.089543 C420.576767,423.089543 487.536313,356.129996 487.536313,273.531209 C487.536313,190.932423 420.576767,123.972876 337.97798,123.972876 C255.379193,123.972876 188.419647,190.932423 188.419647,273.531209 L56.9552035,289.796162 C36.2776,292.782407 26.6520744,301.282249 28.0786268,315.295688 C29.5051792,329.309128 38.9445959,335.520728 56.3968769,333.930489 L162.284939,321.228964" id="Oval" stroke="#000000" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" transform="translate(257.738420, 273.531209) rotate(-127.000000) translate(-257.738420, -273.531209) "></path>
        </g>
    </g>
</svg>-->


<?xml version="1.0" encoding="UTF-8"?>
<svg width="400px" height="400px" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>search copy</title>
    <g id="search-copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(-28.6391, -27.8641)" fill-rule="nonzero" stroke="#000000" stroke-width="30">
            <path d="M192.257726,319.785647 C221.559556,367.483555 261.676783,391.332508 312.609406,391.332508 C389.008341,391.332508 450.941915,329.398935 450.941915,253 C450.941915,176.601065 389.008341,114.667492 312.609406,114.667492 C236.210471,114.667492 174.276898,176.601065 174.276898,253 L52.6801549,268.044108 C33.5546091,270.806205 24.6515739,278.668051 25.9710495,291.629644 C27.2905251,304.591237 36.0214207,310.336595 52.1637362,308.865719 L150.103857,297.117569" id="Oval" transform="translate(238.3926, 253) rotate(-127) translate(-238.3926, -253)"></path>
        </g>
    </g>
</svg>