<?xml version="1.0" encoding="UTF-8"?>
<svg width="400px" height="400px" viewBox="0 0 400 400" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>arrow-down copy 3</title>
    <g id="arrow-down-copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polyline id="Path-104" stroke="#000000" stroke-width="41" points="18 109 200 291 382 109"></polyline>
    </g>
</svg>