<div class="lb-pdp-description-compare-other-brands">
    <div class="lb-pdp-description-compare-other-intro">
        <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/bildschirmfoto-20230415-um-150530-1681563976024.png?v=1681563981">
        {% unless product.title contains 'Rasiermesser' %}<h3>Unser&nbsp;Rasierhobel im<br>vergleich zu anderen Rasierern</h3>
        {% else %}<h3>Unser&nbsp;Rasiermesser im<br>vergleich zu anderen Rasierern</h3>{% endunless %}
        <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/bildschirmfoto-20230415-um-150527-1681563976021.png?v=1681563977">
    </div>
    <div class="lb-pdp-description-compare-other-brands-intro-line">
        <p></p>
        <p><img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/whitelogo_304d8d5d-94fc-4511-b706-420210f63d8a.png?v=1697092488"></p>
        <p>Systemrasierer</p>
    </div>
    <div class="lb-pdp-description-compare-other-brands-line">
        <p class="lb-pdp-description-compare-other-brands-line-left">Preis pro Klinge</p>
        <p>0,25{% if localization.country.iso_code == 'CH' %}CHF{% else %}€{% endif %}</p>
        <p>2,00{% if localization.country.iso_code == 'CH' %}CHF{% else %}€{% endif %} - 4,00{% if localization.country.iso_code == 'CH' %}CHF{% else %}€{% endif %}</p>
    </div>
    <div class="lb-pdp-description-compare-other-brands-line lb-pdp-description-compare-other-brands-line-2">
        <p class="lb-pdp-description-compare-other-brands-line-left">Lebensdauer</p>
        <p>mehrere Jahre</p>
        <p>1-2 Anwendungen</p>
    </div>
    <div class="lb-pdp-description-compare-other-brands-line">
        <p class="lb-pdp-description-compare-other-brands-line-left">Gründliche Rasur</p>
        <p>✔</p>
        <p class="lb-pdp-description-compare-other-brands-line-x">𝘅</p>
    </div>
    <div class="lb-pdp-description-compare-other-brands-line lb-pdp-description-compare-other-brands-line-2">
        <p class="lb-pdp-description-compare-other-brands-line-left">Weniger Hautirritation</p>
        <p>✔</p>
        <p class="lb-pdp-description-compare-other-brands-line-x">𝘅</p>
    </div>
    <div class="lb-pdp-description-compare-other-brands-line">
        <p class="lb-pdp-description-compare-other-brands-line-left">Plastikfrei</p>
        <p>✔</p>
        <p class="lb-pdp-description-compare-other-brands-line-x">𝘅</p>
    </div>
</div> 


<style>

  .lb-pdp-description-compare-other-brands {
    margin: 18px 0px;
  }

  .lb-pdp-description-compare-other-intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .lb-pdp-description-compare-other-intro h3 {
    font-size: 24px;
      line-height: 30px;
    font-family: "Bebas Neue";
    color: #232323;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    width: 60%;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    bottom: 0px;
    }
  
  .lb-pdp-description-compare-other-intro img {
  width: 100%;
    max-width: 52px;
    display: block;
  }
  
  .lb-pdp-description-compare-other-brands-intro-line {
    padding: 9px 18px;
    background-color: #232323;
    margin-top: 24px;
    color: white;
        display: flex;
        align-items: center;
    justify-content: center;
  }

  .lb-pdp-description-compare-other-brands-intro-line img {
    display: block;
    margin: auto;
    padding-right: 5px!important;
    max-width: 135px;
    height: auto;
    width: 100%;
  }

  .lb-pdp-description-compare-other-brands-intro-line p {
    width: 33.333%;
    text-align: center;
  }

  .lb-pdp-description-compare-other-brands-line {
    padding: 12px 18px;
    background-color: white;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
      text-align: center;

  }

.lb-pdp-description-compare-other-brands-line-left {
        text-align: left!important;
}
  
    .lb-pdp-description-compare-other-brands-line-x {
      font-family: "Open Sans";
    color: #9b9b9b;
    font-size: 24px;
    line-height: 22px;
    margin-top: 0;
    width: 33.333%;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    }

  .lb-pdp-description-compare-other-brands-line p, .lb-pdp-description-compare-other-brands-line-2 p {
    width: 33.33%;
    align-items: center;
  }

  .lb-pdp-description-compare-other-brands-line-2 {
    background-color: #f2f2f2;
  }


  @media only screen and (max-width: 500px) {

}





  
</style>