<!--
<div class="lb-toretto-box" id="box1">
<img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/newtoretto.png?v=1732102897">
<p>
  <b>Vom Barbier empfohlen<br></b>
<i>Anfangs war ich skeptisch, aber mittlerweile bin ich überzeugt. Geile Produkte und geile Zusammenarbeit mit dem Team von Störtebekker!</i>
<span>Alex - Torreto Barbershop</span>
</p>
</div>
-->




<div class="lb-toretto-box" id="box1">
<img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/george.png?v=1764249294">
<p>
  <b>Vom Barbier empfohlen<br></b>
<i>Ich habe schon viele verschiedene Produkte getestet und die von Störtebekker gehören definitiv zu meinen Favorites.
Abgesehen davon ist das Team extrem nett und kompetent und die Zusammenarbeit ist sehr professionell!</i>
<span>George - BG Gentlemen’s Grooming</span>
</p>
</div>


<!-- https://cdn.shopify.com/s/files/1/0317/7116/4804/files/review_78e4e813-996b-483e-8a74-adc49d9ba236.png?v=1763686289 -->
<div class="lb-toretto-box" id="box2">
<img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/trust4.png?v=1764207592" style="height: 84px; width: 84px; border-radius: 12px; border: 0px solid #787C80; box-shadow: none;">
<p>
  <b>Kundenbewertung<br></b>
<i>Ich benutze schon seit einiger Zeit die Produkte von Störtebekker. Die Produkte sind von hervorragender Qualität. So ist es zu einem morgendlichen Ritual geworden.</i>
<span>Kunde F. Aufermann</span>
</p>
</div>




<style>

#box2 {
  display: none;
}

  .lb-toretto-box {
  margin-top: 15px;
    background: #F2F2F2;
    padding: 12px;
    display: flex;
    align-items: center;
    width: auto;
    }


  .lb-toretto-box img {
      box-shadow: 0px 4px 4px 0px #0000001A;
    border-radius: 5px;
    height: 84px;
    width: 84px;
    margin-right: 10px;
    }

    .lb-toretto-box b {
    font-style: normal;
    font-weight: 900;
      margin-bottom: 3px;
      display: none;
    }

    .lb-toretto-box p {
  font-family: "Open Sans";
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    }

  .lb-toretto-box p span {
  font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 3px;
    display: block;
  }
  
</style>