{% assign current = product.selected_or_first_available_variant %}
<div class="customPDPDeliveryTime" style="font-size: 13px;margin: 9px 0px">
  {% if product.title contains 'Geschenkgutschein' %}
    <div class="lb-gempages-timing2">
      <p style="color: #3d8645">• Sofort als Download verfügbar</p>
    </div>
  {% else %}
    {%- if product.has_only_default_variant -%}
      {% if current.available %}
        <p style="color:#3d8645">• Auf Lager - In 1-2 Tagen in Deinem Badezimmer</p>
      {% else %}
        <p style="color:#da2c2c">• Derzeit leider ausverkauft</p>
      {% endif %}
    {%- else -%}
      {%- for variant in product.variants -%}
        <div
          class="variantRelated{% if current.id != variant.id %} d-none{% endif %}"
          variant-id="{{ variant.id }}">
          {%- assign variant_delivery_time = variant.metafields.my_fields.lieferzeiten -%}
          {%- if variant_delivery_time != blank -%}
            {{ variant.metafields.my_fields.lieferzeiten }}
          {%- else -%}
            {% if variant.available %}
              <p style="color:#3d8645">• Auf Lager - In 1-2 Tagen in Deinem Badezimmer</p>
            {% else %}
              <p style="color:#da2c2c">• Derzeit leider ausverkauft</p>
            {% endif %}
          {%- endif -%}
        </div>
      {%- endfor -%}
    {%- endif -%}
  {% endif %}
</div>
<style>.d-none {display: none}</style>