<div  class="lb-accounting">
	{% form 'reset_customer_password' %}
  		<div class="lb-accounting-holder">
        	<h1  class="lb-accounting-headline">Passwort zurücksetzten</h1>	
          
      		<div class="lb-login-error">{{ form_errors | default_errors }}</div>
    		<input type="password" name="customer[password]" class="lb-accounting-input" placeholder="Neues Passwort…">
    		<input type="password" name="customer[password_confirmation]" class="lb-accounting-input" placeholder="Neues Passwort wiederholen…">
    		<input type="submit" value="Passwort zurücksetzten" class="lb-accounting-btn">
		</div>
	{% endform %}
</div>