<div class="lb-review-section">
<img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/download-1654599086996.webp?v=1654599097">
<img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/download-1-1654599086995.webp?v=1654599087">
<img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/download-2-1654599086996.webp?v=1654599095">
</div>

<style>
.lb-review-section {
  padding: 18px;
  text-align: center;
}
.lb-review-section img {
  max-width: 30%;
  width: 82px;
  margin: 0px 1.5%;
}
</style>


{% schema %}
{
  "name": "lb review section",
  "settings": [
    {
      "type": "liquid",
      "id": "customhtml",
      "label": "Badge URL"
    }
  ],
  "presets": [
    {
      "category": "HTML",
      "name": "lb review section",
      "settings": {}
    }
  ]
}
{% endschema %}









