{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.ae4f5955.css' | asset_url }}">
		 <style>#richSnippetReviewsWidget-defaultContainer{ 	display: none!Important; } @keyframes banneranimation { 	0%   { 	left: 0%; } 50%   { 	left: -100%; } 100% { 	left: 0%; } } /* The element to apply the animation to */ .banneranimation { 	position: relative; 	animation-name: banneranimation; 	animation-duration: 40s; 	animation-iteration-count: infinite; 	animation-timing-function: linear; } .R-LauncherButton {   display: none!important; }</style> <style>@font-face {
        font-family: 'OpenSans';
        src: url(https://cdn.shopify.com/s/files/1/0317/7116/4804/files/OpenSans.woff2?v=1667112051);
      }@font-face {
        font-family: 'SendFlowers Regular';
        src: url(https://cdn.shopify.com/s/files/1/0317/7116/4804/files/SendFlowers-Regular.woff2?v=1669665564);
      }@font-face {
        font-family: 'BebasNeue-Regular';
        src: url(https://cdn.shopify.com/s/files/1/0317/7116/4804/files/BebasNeue-Regular.woff2?v=1692870786);
      }@font-face {
        font-family: 'BetterTimes';
        src: url(https://cdn.shopify.com/s/files/1/0317/7116/4804/files/BetterTimes.woff2?v=1692870831);
      }@font-face {
        font-family: 'BetterTimesAlt';
        src: url(https://cdn.shopify.com/s/files/1/0317/7116/4804/files/BetterTimesAlt.woff2?v=1692870831);
      }</style><div style="opacity:0" class="sc-jOxtWs gyaLjf __pf __pf_QdQKTvUe" id="__pf"><div data-pf-type="Body" class="sc-bQtKYq iUzbOz pf-2_"><div data-pf-type="Layout" class="sc-dVNjXY gaVfQc pf-3_"><div data-section-id="pf-6046" data-pf-type="Section" class="sc-lkgTHX jrzygT pf-42_"><div class="sc-fmBCVi iwpzju"><div class="sc-kfPuZi ihOOoE pf-41_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-fXEqDS hwCMhq pf-40_"><div data-pf-type="Custom.HTML" class="pf-39_" store="[object Object]"><div class="banneranimation-section">
  <div class="banneranimation">
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
    <span>MEN DAYS | BIS ZU 30%</span>
  </div>
</div>




<style>
  

  .banneranimation-section {
    background-color: #2c709d;
  color: white;


 
  background-repeat: repeat-x !important;
  background-size: 100% 100% !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  overflow-x: clip !important;
  }

  .banneranimation {
    font-size: 25px;
    margin: 0;
    white-space: nowrap;
    width: auto;
    perspective: 900px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    animation: ss-scroller-left 18s linear infinite;

    color: {
        {
        section.settings.bannerfontcolor
      }
    }

    ;
  }



  @media only screen and (max-width: 600px) {

    .banneranimation {
      animation: ss-scroller-left 10s linear infinite;
    }

  }

  @keyframes banneranimation {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }


  @keyframes ss-scroller-left {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }


  .banneranimation span {
    margin-right: 18px;
    line-height: 17px;
    font-size: 17px;
    font-family: "Bebas Neue"!important;
}
</style></div></div></div></div></div></div><div data-section-id="pf-e782" data-pf-type="Section" class="sc-lkgTHX jrzygT pf-8_"><div style="--cw:700px" class="sc-fmBCVi iwpzju"><div class="sc-kfPuZi ihOOoE pf-9_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-fXEqDS hwCMhq pf-10_"><div data-pf-type="Block" class="sc-jHkVzv dyVEVs pf-11_"><img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/rabattbadge-1667990198297.png?v=1667990222" srcSet="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/rabattbadge-1667990198297.png?v=1667990222 1536w" width="224" height="224" data-pf-type="Image3" class="sc-ilfuhL fjsXRa pf-12_"/><p class="sc-fXeWAj hLqvjI pf-13_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kiIyQV bOAJVC pf-15_">Nur Heute</span></p></div><h3 data-pf-type="Heading" class="sc-ctqQKy ldqOxu pf-16_"><span data-pf-type="Text" class="sc-kiIyQV bOAJVC pf-18_">Dein exklusiver Zugang zu unseren Black Deals</span></h3><div data-pf-type="Custom.HTML" class="pf-19_" store="[object Object]">{% form 'storefront_password' %}
  {{ form_errors | default_errors }}

    <input type="password" name="password" class="pw-input" placeholder="Passwort eingeben…">
 <input type="submit" class="pw-btn" value="JETZT SHOP FREISCHALTEN">

{% endform %}


<style>

  
  .pw-input {
	background: white;
	color: black;
	padding: 16px 18px;
	display: block;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	width: 100%;
  }
  
  .pw-btn {
	background: #CBB672;
	color: black;
	padding: 16px 18px;
	display: block;
	border: none;
	border-radius: 6px;
	font-family: open sans;
	font-weight: bold;
	width: 100%;
	font-size: 16px;
	margin: 18px auto;
  }

</style></div></div></div></div></div></div><div data-section-id="pf-e67e" data-pf-type="Section" class="sc-lkgTHX jrzygT pf-20_"><div class="sc-fmBCVi iwpzju"><div class="sc-kfPuZi ihOOoE pf-21_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-fXEqDS hwCMhq pf-22_"><img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/-black-days--black-1668078379742.png?v=1668078381" srcSet="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/-black-days--black-1668078379742.png?v=1668078381 1536w, https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/-black-days--black-1668078379742_1500x.png?v=1668078381 1280w, https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/-black-days--black-1668078379742_1000x.png?v=1668078381 768w, https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/-black-days--black-1668078379742_500x.png?v=1668078381 320w" width="3300" height="45" data-pf-type="Image3" class="sc-ilfuhL fjsXRa pf-23_ banneranimation"/></div></div></div></div></div><div data-section-id="pf-f6e3" data-pf-type="Section" class="sc-lkgTHX jrzygT pf-24_"><div style="--cw:700px" class="sc-fmBCVi iwpzju"><div class="sc-kfPuZi ihOOoE pf-25_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-fXEqDS hwCMhq pf-26_"><p class="sc-fXeWAj hLqvjI pf-27_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kiIyQV bOAJVC pf-29_">Du hast noch keinen exklusiven Zugang? <br>Dann trage Dich jetzt ein und hol Dir Dein Passwort!</span></p><div data-pf-type="Custom.HTML" class="pf-30_" store="[object Object]"><div class="klaviyo-form-ThvEq9"></div></div><div data-pf-type="Image" class="sc-dkYRCH kEvBNx pf-31_"><img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/stortebekker-friend-referral-1654693999560.png?v=1654694000" srcSet="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/stortebekker-friend-referral-1654693999560.png?v=1654694000 1536w" width="768" height="485"/></div><p class="sc-fXeWAj hLqvjI pf-32_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kiIyQV bOAJVC pf-34_">Wir freuen uns auf Deinen Besuch!<br>Dein Störtebekker Team</span></p></div></div></div></div></div><div data-section-id="pf-92f4" data-pf-type="Section" class="sc-lkgTHX jrzygT pf-35_"><div class="sc-fmBCVi iwpzju"><div class="sc-kfPuZi ihOOoE pf-36_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-fXEqDS hwCMhq pf-37_"><img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/-black-days--black-1668078379742.png?v=1668078381" srcSet="https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/-black-days--black-1668078379742.png?v=1668078381 1536w, https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/-black-days--black-1668078379742_1500x.png?v=1668078381 1280w, https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/-black-days--black-1668078379742_1000x.png?v=1668078381 768w, https://cdn.shopify.com/s/files/1/0317/7116/4804/t/9/assets/-black-days--black-1668078379742_500x.png?v=1668078381 320w" width="3300" height="45" data-pf-type="Image3" class="sc-ilfuhL fjsXRa pf-38_ banneranimation"/></div></div></div></div></div></div></div></div><script>
    !function(){window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.7.4","shopDomain":"stoertebekker.myshopify.com","elementData":{},"pageTitle":"Password  BLACK 23","pageType":"password","pageId":"ae4f5955-0479-49d7-9116-14b08364abab","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{"Open Sans":{"400":0},"Playfair Display":{"400":1,"500":0}},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/4.7.4/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Password Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=ae4f5955-0479-49d7-9116-14b08364abab)."
    }
  ]
}
{% endschema %}