{%- assign product_subheading = product.metafields.my_fields.subheadlines -%}
{%- assign variant_subheading = product.selected_or_first_available_variant.metafields.my_fields.subheadlines | default: product_subheading -%}
{%- if variant_subheading != blank -%}
<div data-metafiled="my_fields.subheadlines">
  {{ variant_subheading }}
</div>
{%- endif -%}

{%- assign product_pdp_benifits = product.metafields.custom.pdp_benefits -%}
{%- assign variant_pdp_benefits = product.selected_or_first_available_variant.metafields.custom.pdp_benefits | default: product_pdp_benifits -%}
{%- if variant_pdp_benefits != blank -%}
<div data-metafiled="custom.pdp_benefits">
  {{ variant_pdp_benefits }}
</div>
{%- endif -%}

{%- assign compare_image_desktop = product.selected_or_first_available_variant.metafields.custom.lb_pdp_compare_desktop | default: product.metafields.custom.lb_pdp_compare_desktop -%}
{%- if compare_image_desktop != blank -%}
  <div data-metafiled="custom.lb_pdp_compare_desktop">{{ compare_image_desktop | img_url: '1800x' }}</div>
{%- endif -%}

{%- assign compare_image_mobile = product.selected_or_first_available_variant.metafields.custom.lb_pdp_compare_mobile | default: product.metafields.custom.lb_pdp_compare_mobile -%}
{%- if compare_image_mobile != blank -%}
  <div data-metafield="custom.lb_pdp_compare_mobile">{{ compare_image_mobile | img_url: '500x' }}</div>
{%- endif -%}
