<div class="lb-cart-holder">
  <div class="lb-cart-drawer-opener">Warenkorb öffnen</div>
</div>
<script>
  window.addEventListener('load', function() {
    setTimeout(() => {
      document.querySelector('.lb-cart-drawer-opener').click()
    }, 100)
  })
</script>{% include 'wiser_related' %}{% include 'wiser_recommended' %}{% include 'wiser_trending' %}{% include 'wiser_recentview' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_topselling' %}{% include 'wiser_recent_related' %}


