{% layout none %}

<div class="lb-page-section">
  <div class="lb-page-section-holder">
	<h1>{{ page.title }}</h1>

      	{% render 'special-offers' %}
 
      <a href="https://stoertebekker.com/checkout" class="lb-cart-drawer-footer-checkout-btn" style="background: #3c3c3bff;">wefkjwjekfkwef</a>


  
    {{ page.content }}
  </div>
</div>


<style>  
  .lb-page-section {
  	padding: 72px 18px;
  }
  
  .lb-page-section-holder {
  	max-width: 900px;
    margin: auto;
  }
  
  .lb-page-section-holder h1 {
  	margin-bottom: 18px;
  }
</style>